$mobile-width: 375px;
$desktop-width: 1440px;

// lengths
$xxsmall: 0.3rem;
$xsmall: 0.5rem;
$small: 0.8rem;
$medium: 1rem;
$large: 1.5rem;

// colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

$blue: hsl(248, 32%, 49%);

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

// typography
$body-text: 16px;
@font-face {
  font-family: "Poppins-Medium";
  src: url(./Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(./Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(./Poppins/Poppins-Regular.ttf);
}
$font: "Poppins-Regular";

// reset default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $body-text;
  font-family: $font;
  color: white;
  background-image: url(images/bg-intro-mobile.png);
  background-color: $red;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

main {
  padding: $large;
}

.sign-up {
  h1,
  p:first-of-type {
    text-align: center;
  }

  h2 {
    background-color: $blue;
    border-radius: $xsmall;
    padding: $large;
    font-size: $small;
    text-align: center;

    .light {
      font-family: "Poppins-Light";
    }
  }

  form {
    background-color: white;
    border-radius: $xsmall;
    display: flex;
    flex-direction: column;
    gap: $small;
    padding: $large;

    #fname_error,
    #lname_error,
    #email_error,
    #password_error {
      color: $red;
      text-align: right;
      font-size: $small;
      font-style: italic;
      margin-top: calc(#{$small * -2 / 3});
    }

    label,
    button {
      width: 100%;
    }

    button {
      background-color: $green;
      text-transform: uppercase;
      color: white;
      padding: $small;
      border-radius: $xxsmall;
      border: none;
      font-size: 0.7rem;
      font-weight: 700;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      #fname_error_img,
      #lname_error_img,
      #email_error_img,
      #password_error_img {
        display: none;
        max-width: 100%;
        margin-right: $small;
        position: absolute;
        right: 0;
      }
    }
    .error_active {
      border: 2px solid $red;
    }

    input {
      border: 1px solid $grayish-blue;
      border-radius: $xxsmall;
      padding: $small;
      width: 100%;
      font-family: $font;
    }

    .terms {
      color: $grayish-blue;
      font-size: $small;
      text-align: center;

      a {
        color: $red;
      }
    }

    .error {
      max-height: 0;
    }
    .error.active {
      max-height: 100vh;
      color: $red;
    }
  }
}

footer {
  padding: $large;

  p {
    text-align: center;
    font-size: $small;

    a {
      color: white;
    }
  }
}
