@font-face {
  font-family: "Poppins-Medium";
  src: url(./Poppins/Poppins-Medium.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(./Poppins/Poppins-Light.ttf); }
@font-face {
  font-family: "Poppins-Regular";
  src: url(./Poppins/Poppins-Regular.ttf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Poppins-Regular";
  color: white;
  background-image: url(images/bg-intro-mobile.png);
  background-color: #ff7a7a;
  background-size: 100% auto;
  background-repeat: no-repeat; }

main {
  padding: 1.5rem; }

.sign-up > p {
  font-size: 0.8rem;
  margin-bottom: 7vh; }

.sign-up {
  padding-top: 6vh; }
  .sign-up h1,
  .sign-up p:first-of-type {
    text-align: center; }
  .sign-up h1 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem; }
  .sign-up h2 {
    background-color: #6055a5;
    box-shadow: 0 5px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 0.8rem;
    text-align: center; }
    .sign-up h2 .light {
      font-family: "Poppins-Light";
      font-weight: 400; }
  .sign-up form {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem;
    box-shadow: 0 5px 1px 1px rgba(120, 120, 120, 0.3); }
    .sign-up form #fname_error,
    .sign-up form #lname_error,
    .sign-up form #email_error,
    .sign-up form #password_error {
      color: #ff7a7a;
      text-align: right;
      font-size: 0.8rem;
      font-style: italic;
      margin-top: calc(-0.5333333333rem); }
    .sign-up form label,
    .sign-up form button {
      width: 100%; }
    .sign-up form button {
      background-color: #38cc8c;
      text-transform: uppercase;
      color: white;
      padding: 0.8rem;
      border-radius: 0.3rem;
      border: none;
      font-size: 0.7rem;
      font-weight: 700;
      box-shadow: 0 4px 1px 1px #36bf84; }
    .sign-up form button:hover {
      background-color: rgba(56, 204, 140, 0.7);
      cursor: pointer;
      box-shadow: 0 4px 1px 1px rgba(52, 183, 126, 0.7); }
    .sign-up form label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative; }
      .sign-up form label #fname_error_img,
      .sign-up form label #lname_error_img,
      .sign-up form label #email_error_img,
      .sign-up form label #password_error_img {
        display: none;
        max-width: 100%;
        margin-right: 0.8rem;
        position: absolute;
        right: 0; }
    .sign-up form .error_active {
      border: 2px solid #ff7a7a; }
    .sign-up form input {
      border: 1px solid #b9b6d3;
      border-radius: 0.3rem;
      padding: 0.8rem;
      width: 100%;
      font-family: "Poppins-Regular"; }
    .sign-up form .terms {
      color: #b9b6d3;
      font-size: 0.5rem;
      text-align: center; }
      .sign-up form .terms a {
        color: #ff7a7a;
        font-weight: 600;
        text-decoration: none; }
    .sign-up form .error {
      max-height: 0; }
    .sign-up form .error.active {
      max-height: 100vh;
      color: #ff7a7a; }

footer {
  padding: 1.5rem; }
  footer p {
    text-align: center;
    font-size: 0.8rem; }
    footer p a {
      color: white; }

/*# sourceMappingURL=styles.css.map */
